.btn-danger a,
.btn-danger a:hover {
    color: #fff;
    text-decoration: none;
}
.nav-item button {
    background-color: #212529;
    border: 0;
    color: #fff;
    padding: 0;
    margin: 0;
}
.container {
    margin-top: 1em;
}