<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link rel="stylesheet"
          th:href="@{/css/main.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="'Doctor AnySite'"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1 class="text-center" sec:authorize="isAuthenticated()" th:text="'Καλώς όρισες, ' + ${username} + ' στο Doctor AnySite!'"></h1>
            <h1 class="text-center" sec:authorize="!isAuthenticated()" th:text="'Καλώς όρισες, στο Doctor AnySite!'"></h1>
            <p class="text-center" sec:authorize="!isAuthenticated()">
                <button class="btn btn-secondary">
                    <a class="a_button" th:href="@{/register}" th:text="'Εγγραφή'"></a>
                </button>
            </p>
            <p class="text-center" sec:authorize="!isAuthenticated()">
                <button class="btn btn-secondary">
                    <a class="a_button" th:href="@{/login}" th:text="'Σύνδεση'"></a>
                </button>
            </p>
            <p class="text-center" sec:authorize="hasRole('ROLE_DOCTOR')">
                <button class="btn btn-secondary">
                    <a class="a_button" th:href="@{/appointment/new}" th:text="'Νέο Ραντεβού'"></a>
                </button>
            </p>
            <p class="text-center" sec:authorize="hasRole('ROLE_PATIENT')">
                <button class="btn btn-secondary">
                    <a class="a_button" th:href="@{/appointment/all}" th:text="'Νέο Ραντεβού'"></a>
                </button>
            </p>
            <p class="text-center" sec:authorize="isAuthenticated()">
                <button class="btn btn-secondary">
                    <a class="a_button" th:href="@{'/account/info/' + ${userId}}" th:text="'Ο Λογαριασμός Μου'"></a>
                </button>
            </p>
            <p class="text-center" sec:authorize="isAuthenticated()">
                <button class="btn btn-secondary">
                    <a class="a_button" th:href="@{'/appointment/my/' + ${userId}}" th:text="'Τα Ραντεβού Μου'"></a>
                </button>
            </p>
            <form action="#" role="form" th:action="@{/logout}" method="POST">
                <p class="text-center" sec:authorize="isAuthenticated()">
                    <button class="btn btn-secondary" type="submit">
                        <a class="a_button" th:text="'Αποσύνδεση'"></a>
                    </button>
                </p>
            </form>
        </div>
    </div>
</body>
</html>